{% extends "base.html" %}

{% block content %}

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-2">Sign in</h3>

            {% if messages %}
              {% for message in messages %}
                <p class="py-2 alert-{{ message.tags }}">{{ message }}</p>
              {% endfor %}
            {% endif %}

            <form method="POST">

              {% csrf_token %}

              <div class="form-outline mb-4">
                <input type="text" id="matric_no" name="matric_no" class="form-control form-control-lg" placeholder="Matric number" />
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" />
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

              <hr class="my-4">

              <p>
                <small>Don't have account? <a href="{% url 'register' %}" title="">Register</a></small>
              </p>

            </div>

          </form>

            
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock content %}